Package: com.ethxnn88.xvnotifications
Name: XVNotifications
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ethxnn88
Author: ethxnn88
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
